services:
  - type: web
    name: mcts-pdf-comp
    env: python
    plan: free
    buildCommand: pip install -r requirements.txt
    startCommand: streamlit run app.py --server.port $PORT --server.address 0.0.0.0 --server.headless true --browser.gatherUsageStats false
    autoDeploy: true
    envVars:
      - key: MPLCONFIGDIR
        value: /tmp/matplotlib
      - key: XDG_CACHE_HOME
        value: /tmp
      - key: STREAMLIT_BROWSER_GATHER_USAGE_STATS
        value: "false"
